﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @Styles.Render("~/styles")
    </head>
    <body>
        <header>
            <h1>VBlog</h1>
            
        </header>
        <a href="@Url.RouteUrl("home")">Home</a>
        <i class="glyphicon glyphicon-bell"></i>
        <a href="@Url.RouteUrl("login")">Loginx</a>
        
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            <a href="@Url.RouteUrl("logout")">Logout</a>
            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("index", "Posts", new {area="Admin"})">View Posts in Admin</a>
            }
        } 

        <!-- INSERT VIEW HERE! -->
        @RenderBody()
        @Scripts.Render("~/scripts")
        <p></p>
        <footer>
            &copy; @DateTime.UtcNow.Year - Vishalv
        </footer>
        
        @RenderSection("Scripts", false)
    </body>
</html>

