﻿@using System.Web.Optimization
@{
    Layout = null;
}

@helper SelectedTabClass(string tabName) { 
    if(tabName == ViewBag.SelectedTab)
    {
        @: active        
    }
}
<!Doctype html>
<html>
<head>
    <title>VBlog Admin</title>

    @Styles.Render("~/admin/styles")
</head>
<body>
    
    <div class="container">
        <ul class="nav nav-pills">
            <li class="@SelectedTabClass("posts")">
                @Html.ActionLink("Posts", "Index", "Posts", new {area="admin"}, new{})
            </li>
            <li class="@SelectedTabClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new {area="admin"}, new{})
            </li>
            <li class="pull-right">
                @Html.RouteLink("Back to Website", "Home")
            </li>
        </ul>
        @RenderBody()
    </div>
    
    @Scripts.Render("~/admin/scripts")

    @RenderSection("Scripts", false)
</body>
</html>

