﻿@model VBlog.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}

<title>Login</title>
<p> This is the Login View</p>

@using (Html.BeginForm())
{
    <div>
        @Html.ValidationSummary()
    </div>
    <div>
        @Html.LabelFor(x => x.UserName)
        @Html.EditorFor(x =>x.UserName)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        <input type="submit" name="button1" value="Login"/>
    </div>
}
